* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border: 1px solid;
  border-left: transparent;
  border-right: transparent;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

/* 1段目 */

.boxes1 {
  width: 100%;
  height: 200px;
  /* background-color: green; */
  margin-top: 50px;
  font-size: 0;
  text-align: center;
}

.boxes1 > .box1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.boxes1 > .box2 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.boxes1 > .box3 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.boxes1 > .box4 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

/* 2段目 */

.boxes2 {
  width: 100%;
  height: 200px;
  /* background-color: yellowgreen; */
  font-size: 0;
  text-align: center;
}

.boxes2 > .box1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.boxes2 > .box2 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.boxes2 > .box3 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.boxes2 > .box4 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

/* 3段目 */

.boxes3 {
  width: 100%;
  height: 200px;
  /* background-color: yellow; */
  margin-bottom: 50px;
  font-size: 0;
  text-align: center;
}

.boxes3 > .box1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.boxes3 > .box2 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.boxes3 > .box3 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.boxes3 > .box4 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
